server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
        file-extension: yml
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**,/user/**
        - id: student-service
          uri: lb://student-service
          predicates:
            - Path=/student/**,/class/**,/dict/**
        - id: file-service
          uri: lb://file-service
          predicates:
            - Path=/file/**
        - id: course-service
          uri: lb://course-service
          predicates:
            - Path=/course/**,/notification/**,/teacher/**
  data:
    redis:
      host: localhost
      port: 6379
      password: redis123456
      database: 0
      timeout: 3000ms
